@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Noto Sans", serif;
}
.container{
    padding-left: 6rem;
    padding-right: 6rem;
}
.footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px dashed rgb(225, 225, 225);
    display: flex;
    justify-content: space-evenly;
}
.footer-links{
    display: flex;
}


@media screen and (max-width:990px) {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }
}